body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #eef2f7;
}

/* NAV */
nav {
    position: fixed;
    width: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 40px;
    z-index: 1000;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* HERO (IMAGEN GRANDE) */
.hero {
    height: 400px;
    background-image: 
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url("https://upload.wikimedia.org/wikipedia/commons/d/dc/Casa_Central_de_la_Universidad_de_Chile.jpg");

    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

/* TEXTO CENTRADO */
.hero-text h1 {
    font-size: 50px;
    margin: 0;
}

.hero-text p {
    font-size: 20px;
}

/* CONTENIDO ABAJO */
main {
    padding: 60px 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

/* TARJETAS */
.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* TITULOS */
h3 {
    color: #1565c0;
}