body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background-color: #eef2f7;
}

/* NAV */
nav {
    background: linear-gradient(90deg, #0d47a1, #1976d2);
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* HEADER */
header {
    text-align: center;
    padding: 60px 20px;
    color: white;

    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("https://upload.wikimedia.org/wikipedia/commons/d/dc/Casa_Central_de_la_Universidad_de_Chile.jpg");

    background-size: cover;
    background-position: center;
}

/* GRID */
main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 30px;
}

/* CARD */
.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* TITULOS */
h3 {
    color: #1565c0;
}

/* TEXTO */
p {
    line-height: 1.5;
}

/* LISTAS */
li {
    margin-bottom: 5px;
}